In [14]:
# ! pip install matplotlib

Requirement already satisfied: matplotlib in /Users/kaitlynng/opt/anaconda3/lib/python3.9/site-packages (3.5.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/kaitlynng/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /Users/kaitlynng/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /Users/kaitlynng/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (9.0.1)
Requirement already satisfied: numpy>=1.17 in /Users/kaitlynng/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (1.21.5)
Requirement already satisfied: pyparsing>=2.2.1 in /Users/kaitlynng/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/kaitlynng/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /Users/kaitlynng/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/kaitlynng/opt/anaconda3/lib/python3.9/site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: six>=1.5 in /Users/kaitlynng/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [1]:
import pandas as pd

# Read in files
Note: trace data only has information from 2019

In [2]:
loc1 = pd.read_csv("trace_data/location_pt1.csv")
loc2 = pd.read_csv("trace_data/location_pt2.csv")
loc3 = pd.read_csv("trace_data/location_pt3.csv")
loc4 = pd.read_csv("trace_data/location_pt4.csv")
loc5 = pd.read_csv("trace_data/location_pt5.csv")
loc6 = pd.read_csv("trace_data/location_pt6.csv")

In [3]:
trips = pd.read_csv("Household_Travel_Survey_Trips.csv")
persons = pd.read_csv("Household_Travel_Survey_Persons.csv")

/var/folders/mg/5x982c514sl0dc5v1pd9gj580000gn/T/ipykernel_2878/4197115954.py:1: DtypeWarning: Columns (5,8,25,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,52,68,69,73,75,76,86,87,88,89,90,91,92,93,94,95,96,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,130,131,132,133,134,135,136,137,138,139,140,142,154) have mixed types. Specify dtype option on import or set low_memory=False.
  trips = pd.read_csv("Household_Travel_Survey_Trips.csv")
/var/folders/mg/5x982c514sl0dc5v1pd9gj580000gn/T/ipykernel_2878/4197115954.py:2: DtypeWarning: Columns (1,3,7,23,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,77,78,81,84,85,95,96,97,98,99,100,101,102,103,104,105,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,135,136,137,138,139,140,141,142,143,144,145,146) have mixed types. Specify dtype option on import or set low_memory=False.
  persons = pd.read_csv("Household_Travel_Survey_Persons.csv")

In [4]:
# combine all lat/lon info
all_loc = pd.concat([loc1, loc2, loc3, loc4, loc5, loc6])

# Enrich lat/lon dataset with person and trip info
Combine trip info through personid and trip arrival/departure time?

In [ ]:
loc_info = pd.merge(all_loc, persons, how="left", left_on="personid", right_on="person_id")

In [11]:
loc_info

,personid,recid,hhid,pernum,tripnum,accuracy,heading,speed,collected_at_date,collected_at_time,...,employment_change_none,workplace_pre_covid,hh_weight_2021,person_adult_weight_2021,person_respondent_weight_2021,hh_weight_2017,hh_weight_2019,hh_weight_2017_2019,hh_weight_2017_2019_adult,ObjectId
0,19100000101,13,191000001,1,13,10.0,NaN,0.0,5/9/2019 7:59,5/9/2019 7:59,...,NaN,NaN,NaN,NaN,NaN,NaN,61.27231,30.636155,30.636155,12521.0
1,19100000101,15,191000001,1,15,10.0,NaN,0.0,5/9/2019 19:03,5/9/2019 19:03,...,NaN,NaN,NaN,NaN,NaN,NaN,61.27231,30.636155,30.636155,12521.0
2,19100000101,16,191000001,1,16,10.0,NaN,0.0,5/10/2019 9:12,5/10/2019 9:12,...,NaN,NaN,NaN,NaN,NaN,NaN,61.27231,30.636155,30.636155,12521.0
3,19100000101,16,191000001,1,16,10.0,NaN,0.0,5/10/2019 9:12,5/10/2019 9:12,...,NaN,NaN,NaN,NaN,NaN,NaN,61.27231,30.636155,30.636155,12521.0
4,19100000101,17,191000001,1,17,10.0,NaN,0.0,5/10/2019 10:38,5/10/2019 10:38,...,NaN,NaN,NaN,NaN,NaN,NaN,61.27231,30.636155,30.636155,12521.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1214356,19200901403,75493,192009014,3,3,3.0,268.0,15.0,5/28/2019 16:44,5/28/2019 16:44,...,NaN,NaN,NaN,NaN,NaN,NaN,1650.16364,825.081820,825.081820,17784.0
1214357,19200901403,75493,192009014,3,3,3.0,270.0,16.0,5/28/2019 16:45,5/28/2019 16:45,...,NaN,NaN,NaN,NaN,NaN,NaN,1650.16364,825.081820,825.081820,17784.0
1214358,19200901403,75493,192009014,3,3,3.0,194.0,8.0,5/28/2019 16:45,5/28/2019 16:45,...,NaN,NaN,NaN,NaN,NaN,NaN,1650.16364,825.081820,825.081820,17784.0
1214359,19200901403,75493,192009014,3,3,3.0,153.0,11.0,5/28/2019 16:45,5/28/2019 16:45,...,NaN,NaN,NaN,NaN,NaN,NaN,1650.16364,825.081820,825.081820,17784.0
1214360,19200901403,75493,192009014,3,3,3.0,213.0,3.0,5/28/2019 16:46,5/28/2019 16:46,...,NaN,NaN,NaN,NaN,NaN,NaN,1650.16364,825.081820,825.081820,17784.0

In [13]:
for col in loc_info.columns:
    print(col)

personid
recid
hhid
pernum
tripnum
accuracy
heading
speed
collected_at_date
collected_at_time
lat
lng
household_id
hhgroup
survey_year
sample_source
seattle_home
hh_race_category
sample_segment
cityofseattle
final_home_puma10
final_home_uvnum
hhsize
vehicle_count
lifecycle
hhincome_broad
hhincome_detailed
car_share
rent_own
res_dur
res_type
prev_home_wa
res_factors_30min
res_factors_afford
res_factors_closefam
res_factors_hhchange
res_factors_hwy
res_factors_school
res_factors_space
res_factors_transit
res_factors_walk
numadults
numchildren
numworkers
offpark_cost
prev_res_factors_housing_cost
prev_res_factors_income_change
prev_res_factors_community_chan
prev_res_factors_hh_size
prev_res_factors_more_space
prev_res_factors_less_space
prev_res_factors_employment
prev_res_factors_school
prev_res_factors_crime
prev_res_factors_quality
prev_res_factors_forced
prev_res_factors_no_answer
prev_res_factors_other
prev_res_factors_specify
prev_res_factors_covid_flexibil
prev_res_factors_covid_health
broadband
industry
person_id
age
age_category
gender
employment
jobs_count
student
schooltype
education
license
vehicleused
workplace
race_afam
race_asian
race_hapi
race_aiak
race_hisp
race_other
race_white
race_noanswer
race_category
hours_work
commute_freq
commute_mode
commute_dur
telecommute_freq
work_park_type
workpass
work_county
work_rgcname
prev_work_county
prev_work_puma10
prev_work_tract10
prev_work_notwa_state
prev_work_notwa_notus
school_loc_county
school_puma10
school_tract10
school_rgcname
mode_freq_1
mode_freq_2
mode_freq_3
mode_freq_4
mode_freq_5
tran_pass_1
tran_pass_2
tran_pass_3
tran_pass_4
tran_pass_5
tran_pass_6
tran_pass_7
tran_pass_8
tran_pass_9
tran_pass_10
tran_pass_11
benefits_1
benefits_2
benefits_3
benefits_4
av_interest_1
av_interest_2
av_interest_3
av_interest_4
av_interest_5
av_interest_6
av_interest_7
av_concern_1
av_concern_2
av_concern_3
av_concern_4
av_concern_5
wbt_transitmore_1
wbt_transitmore_2
wbt_transitmore_3
wbt_bikemore_1
wbt_bikemore_2
wbt_bikemore_3
wbt_bikemore_4
wbt_bikemore_5
commute_auto_time
commute_auto_distance
work_tract10
work_puma10
worker
employment_pre_covid
commute_freq_pre_covid
commute_mode_pre_covid
telecommute_freq_pre_covid
school_travel_last_week
employment_change_employer
employment_change_location
employment_change_new_job
employment_change_laid_off
employment_change_left_workforc
employment_change_none
workplace_pre_covid
hh_weight_2021
person_adult_weight_2021
person_respondent_weight_2021
hh_weight_2017
hh_weight_2019
hh_weight_2017_2019
hh_weight_2017_2019_adult
ObjectId

## Playing around with lat/lon data

In [27]:
all_loc.groupby("recid").count()

,personid,hhid,pernum,tripnum,accuracy,heading,speed,collected_at_date,collected_at_time,lat,lng
recid,,,,,,,,,,,
1,41,41,41,41,41,40,40,41,41,41,41
2,27,27,27,27,27,26,26,27,27,27,27
3,30,30,30,30,30,28,28,30,30,30,30
4,39,39,39,39,39,38,38,39,39,39,39
5,38,38,38,38,38,37,37,38,38,38,38
...,...,...,...,...,...,...,...,...,...,...,...
81109,27,27,27,27,27,26,26,27,27,27,27
81110,31,31,31,31,31,30,30,31,31,31,31
81111,16,16,16,16,16,15,15,16,16,16,16
81112,22,22,22,22,22,22,22,22,22,22,22
81113,27,27,27,27,27,26,26,27,27,27,27

In [21]:
all_loc[all_loc["recid"]==1]

,personid,recid,hhid,pernum,tripnum,accuracy,heading,speed,collected_at_date,collected_at_time,lat,lng
857,19100000101,1,191000001,1,1,10.0,74.0,0.0,5/7/2019 7:28,5/7/2019 7:28,47.51448,-122.30355
4572,19100000101,1,191000001,1,1,10.0,328.0,1.0,5/7/2019 7:02,5/7/2019 7:02,47.60575,-122.32166
7236,19100000101,1,191000001,1,1,10.0,332.0,2.0,5/7/2019 7:18,5/7/2019 7:18,47.51769,-122.30288
9561,19100000101,1,191000001,1,1,10.0,328.0,5.0,5/7/2019 7:02,5/7/2019 7:02,47.60645,-122.32240
11689,19100000101,1,191000001,1,1,10.0,269.0,6.0,5/7/2019 7:00,5/7/2019 7:00,47.60171,-122.31704
11690,19100000101,1,191000001,1,1,10.0,242.0,6.0,5/7/2019 7:04,5/7/2019 7:04,47.60638,-122.32292
11691,19100000101,1,191000001,1,1,10.0,231.0,6.0,5/7/2019 7:05,5/7/2019 7:05,47.60440,-122.32747
13541,19100000101,1,191000001,1,1,10.0,324.0,8.0,5/7/2019 7:00,5/7/2019 7:00,47.60191,-122.31801
13542,19100000101,1,191000001,1,1,10.0,333.0,8.0,5/7/2019 7:01,5/7/2019 7:01,47.60499,-122.32116
16406,19100000101,1,191000001,1,1,10.0,157.0,10.0,5/7/2019 7:05,5/7/2019 7:05,47.60330,-122.32772
17630,19100000101,1,191000001,1,1,10.0,349.0,14.0,5/7/2019 7:14,5/7/2019 7:14,47.50806,-122.29131
19146,19100000101,1,191000001,1,1,10.0,335.0,17.0,5/7/2019 7:14,5/7/2019 7:14,47.51023,-122.29245
19486,19100000101,1,191000001,1,1,10.0,130.0,28.0,5/7/2019 7:09,5/7/2019 7:09,47.54970,-122.31437
19487,19100000101,1,191000001,1,1,10.0,148.0,28.0,5/7/2019 7:10,5/7/2019 7:10,47.54338,-122.30611
19795,19100000101,1,191000001,1,1,10.0,186.0,27.0,5/7/2019 7:06,5/7/2019 7:06,47.59376,-122.32108
19796,19100000101,1,191000001,1,1,10.0,188.0,27.0,5/7/2019 7:08,5/7/2019 7:08,47.56500,-122.32143
20374,19100000101,1,191000001,1,1,10.0,174.0,26.0,5/7/2019 7:07,5/7/2019 7:07,47.58390,-122.32026
20375,19100000101,1,191000001,1,1,10.0,182.0,26.0,5/7/2019 7:08,5/7/2019 7:08,47.57451,-122.32001
20376,19100000101,1,191000001,1,1,10.0,150.0,26.0,5/7/2019 7:09,5/7/2019 7:09,47.55634,-122.32018
20902,19100000101,1,191000001,1,1,10.0,160.0,30.0,5/7/2019 7:11,5/7/2019 7:11,47.52781,-122.29334
22285,19100000101,1,191000001,1,1,10.0,189.0,24.0,5/7/2019 7:06,5/7/2019 7:06,47.59309,-122.32124
22475,19100000101,1,191000001,1,1,10.0,136.0,23.0,5/7/2019 7:06,5/7/2019 7:06,47.60024,-122.32347
65755,19100000101,1,191000001,1,1,5.0,152.0,24.0,5/7/2019 7:12,5/7/2019 7:12,47.51506,-122.28738
66590,19100000101,1,191000001,1,1,5.0,161.0,26.0,5/7/2019 7:12,5/7/2019 7:12,47.52004,-122.29018
66591,19100000101,1,191000001,1,1,5.0,152.0,26.0,5/7/2019 7:12,5/7/2019 7:12,47.51318,-122.28595
66915,19100000101,1,191000001,1,1,5.0,140.0,28.0,5/7/2019 7:11,5/7/2019 7:11,47.53653,-122.29848
68265,19100000101,1,191000001,1,1,5.0,267.0,15.0,5/7/2019 7:14,5/7/2019 7:14,47.50740,-122.29040
68972,19100000101,1,191000001,1,1,5.0,260.0,12.0,5/7/2019 7:13,5/7/2019 7:13,47.50780,-122.28347
70537,19100000101,1,191000001,1,1,5.0,199.0,10.0,5/7/2019 7:13,5/7/2019 7:13,47.50795,-122.28282
72372,19100000101,1,191000001,1,1,5.0,343.0,6.0,5/7/2019 7:16,5/7/2019 7:16,47.51676,-122.29668
73673,19100000101,1,191000001,1,1,5.0,253.0,3.0,5/7/2019 7:16,5/7/2019 7:16,47.51687,-122.29728
73674,19100000101,1,191000001,1,1,5.0,228.0,3.0,5/7/2019 7:17,5/7/2019 7:17,47.51615,-122.29810
73675,19100000101,1,191000001,1,1,5.0,282.0,3.0,5/7/2019 7:17,5/7/2019 7:17,47.51585,-122.30104
80268,19100000101,1,191000001,1,1,5.0,218.0,1.0,5/7/2019 7:19,5/7/2019 7:19,47.51712,-122.30345
80269,19100000101,1,191000001,1,1,5.0,175.0,1.0,5/7/2019 7:19,5/7/2019 7:19,47.51685,-122.30359
80270,19100000101,1,191000001,1,1,5.0,183.0,1.0,5/7/2019 7:20,5/7/2019 7:20,47.51626,-122.30348
80271,19100000101,1,191000001,1,1,5.0,211.0,1.0,5/7/2019 7:21,5/7/2019 7:21,47.51580,-122.30398
80272,19100000101,1,191000001,1,1,5.0,156.0,1.0,5/7/2019 7:22,5/7/2019 7:22,47.51523,-122.30383
133416,19100000101,1,191000001,1,1,21.0,155.0,9.0,5/7/2019 7:05,5/7/2019 7:05,47.60357,-122.32784
162865,19100000101,1,191000001,1,1,30.0,146.0,1.0,5/7/2019 7:23,5/7/2019 7:23,47.51519,-122.30340
186368,19100000101,1,191000001,1,1,-1.0,NaN,NaN,5/7/2019 6:59,5/7/2019 6:59,47.60174,-122.30562

In [23]:
all_loc.personid.unique()
all_loc[all_loc.personid==19100009201]

,personid,recid,hhid,pernum,tripnum,accuracy,heading,speed,collected_at_date,collected_at_time,lat,lng
6,19100009201,53,191000092,1,1,10.0,NaN,0.0,4/30/2019 6:49,4/30/2019 6:49,45.58891,-122.59541
7,19100009201,54,191000092,1,2,10.0,NaN,0.0,4/30/2019 8:47,4/30/2019 8:47,47.44636,-122.30480
8,19100009201,71,191000092,1,19,10.0,NaN,0.0,5/2/2019 7:57,5/2/2019 7:57,47.59876,-122.32822
9,19100009201,90,191000092,1,38,10.0,NaN,0.0,5/5/2019 15:33,5/5/2019 15:33,47.61890,-122.31615
10,19100009201,92,191000092,1,40,10.0,NaN,0.0,5/5/2019 18:08,5/5/2019 18:08,47.61859,-122.33486
...,...,...,...,...,...,...,...,...,...,...,...,...
186394,19100009201,86,191000092,1,34,-1.0,NaN,NaN,5/4/2019 14:23,5/4/2019 14:23,47.61890,-122.31615
186395,19100009201,87,191000092,1,35,-1.0,NaN,NaN,5/4/2019 15:35,5/4/2019 15:35,47.70386,-122.28779
186396,19100009201,88,191000092,1,36,-1.0,NaN,NaN,5/5/2019 10:03,5/5/2019 10:03,47.61875,-122.31314
186397,19100009201,94,191000092,1,42,-1.0,NaN,NaN,5/6/2019 7:49,5/6/2019 7:49,47.61893,-122.31621
186398,19100009201,96,191000092,1,44,-1.0,NaN,NaN,5/6/2019 17:31,5/6/2019 17:31,47.59878,-122.33100

In [24]:
all_loc[(all_loc.personid == 19100009201) & (all_loc.recid==71)].sort_values(by=["recid", "collected_at_time"])

,personid,recid,hhid,pernum,tripnum,accuracy,heading,speed,collected_at_date,collected_at_time,lat,lng
185574,19100009201,71,191000092,1,19,0.0,NaN,NaN,5/2/2019 7:47,5/2/2019 7:47,47.61872,-122.31995
8,19100009201,71,191000092,1,19,10.0,NaN,0.0,5/2/2019 7:57,5/2/2019 7:57,47.59876,-122.32822
23737,19100009201,71,191000092,1,19,10.0,NaN,NaN,5/2/2019 7:57,5/2/2019 7:57,47.61872,-122.31995
161937,19100009201,71,191000092,1,19,25.0,284.0,1.0,5/2/2019 7:58,5/2/2019 7:58,47.59902,-122.32841
5151,19100009201,71,191000092,1,19,10.0,268.0,1.0,5/2/2019 7:59,5/2/2019 7:59,47.59912,-122.32927
161938,19100009201,71,191000092,1,19,25.0,171.0,1.0,5/2/2019 8:01,5/2/2019 8:01,47.59900,-122.33012
164945,19100009201,71,191000092,1,19,25.0,312.0,0.0,5/2/2019 8:01,5/2/2019 8:01,47.59923,-122.33092